@model IEnumerable<InvoiceApplication.DataAccessLayer.DbVesselDocument>
@{
    ViewBag.Title = "View Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!ViewBag.IsMobile)
{
<div class="col-sm-12">
    <div class="col-sm-3" style="height:80%;">
        <ul class="list-group">
            <li class="list-group-item">
                <b>Documents</b>
            </li>
            @foreach (var item in Model)
            {
                <li id="@item.FileId" class="list-group-item viewfile">
                    @item.FileName
                </li>
            }
        </ul>
        <a asp-controller="@ViewBag.controller" asp-action="Index" asp-route-invoiceId="@ViewBag.InvoiceId">Back to Invoice</a>
</div>
    <h1 class="aligncenter">Viewer<span>(Click on document to view pdf file.)</span></h1>
        <div id="viewpdf" class="col-sm-9" style="height:100%;">
        </div>
</div>
}
else
{

    <div class="col-sm-offset-3 col-sm-6">
        <h2>Invoices</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FileName</td>
                        <td><a class="btn btn-primary toggler" id="text_@item.FileId"><span class="glyphicon glyphicon-triangle-top"></span>Show File</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="document_@item.FileId" class="fileviewer">
                                
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>

}
<script type="text/javascript" src="~/js/invoices.js"></script>