@model InvoiceApplication.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var routeValues = new Dictionary<String, String>()
    {
        {"Status","pending" },
        {"From",string.Empty },
        {"To",string.Empty },
        { "Results","0" }

    };
}
<div class="row">
    <div class="col-lg-2">
                <a asp-controller="CheckingAuthority"
                   asp-action="ViewInvoices"
                   asp-all-route-data="routeValues" class="btn btn-link" style="font-size:20px">
                    View Invoices
                </a>
           
    </div>
    
    <div class="col-lg-6">
        <h2 class="text-center">Invoice Details</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-6 col-sm-6" style="font-size: 20px;">
        <label>Current Status</label>
        <span id="statuslabel">
            @Html.Encode(Model.InvoiceStatus)
        </span>
    </div>
</div>
<div id="errorMessages">
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-offset-2 col-sm-1"></div>
        <div class="col-sm-6">
            <table id="info" class="table table-striped" style="text-align:left;">
                <tr id="element" class="table-info" style="display:none">
                    <td>Invoice Id:</td>
                    <td>@Html.Encode(Model.InvoiceId.ToString())</td>
                </tr>
                <tr class="table-info">
                    <td><b>Invoice No</b></td>
                    <td>@Html.Encode(Model.InvoiceNumber.ToString())</td>
                </tr>
                <tr class="table-info">
                    <td><b>Vessel Name</b></td>
                    <td>@Html.Encode(Model.VesselName)</td>
                </tr>
                <tr class="table-info">
                    <td><b>Customer</b></td>
                    <td>@Html.Encode(Model.CustomerName)</td>
                </tr>
                <tr class="table-info">
                    <td><b>Account Date</b></td>
                    <td>@Html.Encode(Model.AccountDate)</td>
                </tr>

                <tr class="table-info">
                    <td><b>Delivery Date</b></td>
                    <td>@Html.Encode(Model.DelivaryDate)</td>
                </tr>

                <tr class="table-info">
                    <td><b>Total Amount</b></td>
                    <td>@Html.Encode(Model.Amount)</td>
                </tr>
                <tr class="table-info">
                    <td><b>Currency</b></td>
                    <td>@Html.Encode(Model.CurrencyCode.ToString())</td>
                </tr>
                <tr class="table-info">
                    <td><b>Exchange</b></td>
                    <td>@Html.Encode(Model.ExchangeRate.ToString())</td>
                </tr>
                <tr class="table-info">
                    <td><b>Total Amount</b></td>
                    <td>@Html.Encode(Model.TotalLocalAmount)</td>
                </tr>
                <tr class="table-info">
                    <td><b>No Of Documents</b></td>
                    <td id="docs">@Html.Encode(Model.NoOfDocuments.ToString())</td>
                </tr>
                @{
                    if (Model.Showbuttons)
                    {
                        <tr>
                            <td><b>Remarks</b></td>
                            <td><textarea  asp-for="Remarks" rows="2" cols="50" id="remarks"></textarea></td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td><b>Remarks</b></td>
                            <td>@Model.Remarks</td>
                        </tr>
                    }
                }
               
            </table>
        </div>
        <div class="col-sm-offset-2 col-sm-1"></div>
    </div>
</div>

    <div id="buttonsdiv" class="row col-sm-offset-5" style="margin-right:1px">
        <button type="button" id="approve" class="btn btn-success" style="@(Model.Showbuttons ? "display:inline" : "display:none")">Check</button>
        <button type="button" id="decline" class="btn btn-danger" style="@(Model.Showbuttons ? "display:inline" : "display:none")">Revert</button>
        <button type="button" id="warning" class="btn btn-warning" style="@(Model.Showbuttons ? "display:inline" : "display:none")">Hold</button>
        <a asp-controller="Invoices"
           asp-action="Index"
           asp-route-id="@Model.InvoiceId"
           class="btn btn-info">
            View Documents
        </a>
    </div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Approval.js"></script>
