@model InvoiceApplication.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2 class="text-center">Invoice Details</h2>


</div>
<div class="col-sm-12">
    <div class="col-sm-offset-2 col-sm-1"></div>
    <div class="col-sm-6">
        <table class="table table-striped" style="text-align:center;">
            <tr id="element" class="table-info" style="display:none">
                <td>Invoice Id:</td>
                <td>@Html.Encode(Model.invoiceId.ToString())</td>
            </tr>
            <tr class="table-info">
                <td>Invoice No:</td>
                <td>@Html.Encode(Model.invoiceNumber.ToString())</td>
            </tr>
            <tr class="table-info">
                <td>Customer Name:</td>
                <td>@Html.Encode(Model.CustomerName)</td>
            </tr>
            <tr class="table-info">
                <td>Due Date</td>
                <td>@Html.Encode(Model.DueDate.Date.ToString())</td>
            </tr>
            <tr class="table-info">
                <td>Delivary Date:</td>
                <td>@Html.Encode(Model.DelivaryDate.ToString())</td>
            </tr>

            <tr class="table-info">
                <td>Total Amount:</td>
                <td>@Html.Encode(Model.Amount.ToString())</td>
            </tr>

            <tr class="table-info">
                <td>Exchange Currency:</td>
                <td>@Html.Encode(Model.currencyCode)</td>
            </tr>
            <tr class="table-info">
                <td>Exchange Rate:</td>
                <td>@Html.Encode(Model.exchangeRate.ToString())</td>
            </tr>
            <tr class="table-info">
                <td>Total Local Amount:</td>
                <td>@Html.Encode(Model.totalLocalAmount.ToString())</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-offset-2 col-sm-1"></div>
</div>
    <div class="row col-sm-offset-5" style="margin-right:1px">
        <button type="button" id="approve" class="btn btn-success" style="@(Model.showbuttons ? "display:block" : "display:none")">Check</button>
        <button type="button" id="decline" class="btn btn-danger" style="@(Model.showbuttons ? "display:block" : "display:none")">Reject</button>
        <button type="button" id="warning" class="btn btn-warning" style="@(Model.showbuttons ? "display:block" : "display:none")">Pending</button>
        <a href="/Invoices/Index?id=1" type="button" id="viewFiles" class="btn btn-info">ViewFiles</a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Approval.js"></script>
