@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model InvoiceApplication.Models.InvoicePagingResults
@{
    ViewData["Title"] = "Invoice Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoice Listing</h2>
<form class="form-inline" asp-controller="CheckingAuthority" asp-action="ViewInvoices" method="post">
    <div class="form-group">
        <label for="Status">Status</label>
        <select asp-for="modelInvoice.Status" name="status" class="form-control">
            <option value="pending">Pending</option>
            <option value="approved">Approved</option>
            <option value="checked">Checked</option>
            <option value="rejected">Rejected</option>
            <option value="all">All</option>
        </select>
    </div>
    <div class="form-group">
        <label for="from">From</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input  asp-for="modelInvoice.From" name="From" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="to">To</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
                <input asp-for="modelInvoice.To" name="To" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    
    <button type="submit" id="searchinvoice" class="btn btn-primary">Search</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Invoice No</th>
            <th>VesselName</th>
            <th>Customer Name</th>
            <th>Account Date</th>
            <th>Due Date</th>
            <th>Currency</th>
            <th>Ex Rate</th>
            <th>Amount (USD)</th>

        </tr>
    </thead>
    <tbody id="invoice-info">
        @foreach(var item in Model.invoiceResults.AsEnumerable())
        {
            <tr>
                <td>
                    @item.InvoiceNo
                </td>
                <td>@item.VesselName</td>
                <td>@item.CustomerName</td>
                <td>@item.AccountDate</td>
                <td>@item.DueDate</td>
                <td>@item.CurrencyCode</td>
                <td>@item.ExchangeRate.ToString()</td>
                <td>@item.TotalAmt</td>


                <td>
                    <a asp-action="Index" asp-controller="CheckingAuthority"
                       
                       asp-route-invoiceId="@item.InvoiceId"
                       class="btn btn-warning">
                        View Details
                    </a>
                </td>

            </tr>

        }
        
    </tbody>
</table>
<div class="row col-sm-offset-5" style="margin-right:1px;display:inline-block">
    <div class="col-sm-offset-6"></div>
    <div id="pageInfo">
        @for (int i = 0; i < Model.totalNumberOfRecords; i++)
        {
            var routeValues = new Dictionary<String, String>()
             {
                 {"Status",Model.modelInvoice.Status },
                 {"From",Model.modelInvoice.From},
                 {"To",Model.modelInvoice.To},
                 { "Results",i.ToString() }

        };
            if (Model.currentPageNumber == i)
            {
                <a class="btn btn-success" asp-controller="Checkingauthority" asp-action="ViewInvoices" asp-all-route-data="routeValues">@(i + 1)</a>
            }
            else
            {
                <a class="btn btn-primary" asp-controller="Checkingauthority" asp-action="ViewInvoices" asp-all-route-data="routeValues">@(i + 1)</a>
            }

        }
    </div>

</div>
<link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/lib/moment/min/moment.min.js"></script>
<script src="~/lib/moment/min/locales.js"></script>
<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/js/viewcheckerinvoices.js" charset="utf-8"></script>