@model InvoiceApplication.Models.InvoiceViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Approve Invoice</h2>
<div class="col-sm-12">
<div class=" col-sm-offset-3 col-sm-6">
    <table class="table table-striped" style="text-align:center;">
        <tr id="element" class="table-info">
            <td>Invoice Id:</td>
            <td>@Html.Encode(Model.invoiceId.ToString())</td>
        </tr>
        <tr class="table-info">
            <td>Customer Name:</td>
            <td>@Html.Encode(Model.CustomerName)</td>
        </tr>
        <tr class="table-info">
            <td>Due Date</td>
            <td>@Html.Encode(Model.DueDate.Date.ToString())</td>
        </tr>
        <tr class="table-info">
            <td>Invoice Id:</td>
            <td>@Html.Encode(Model.invoiceId.ToString())</td>
        </tr>
        <tr class="table-info">
            <td>Delivary Date:</td>
            <td>@Html.Encode(Model.DelivaryDate.ToString())</td>
        </tr>

        <tr class="table-info">
            <td>Total Amount:</td>
            <td>@Html.Encode(Model.Amount.ToString())</td>
        </tr>

        <tr class="table-info">
            <td>Exchange Currency:</td>
            <td>@Html.Encode(Model.currencyCode)</td>
        </tr>
        <tr class="table-info">
            <td>Exchange Rate:</td>
            <td>@Html.Encode(Model.exchangeRate.ToString())</td>
        </tr>
        <tr class="table-info">
            <td>Total Local Amount:</td>
            <td>@Html.Encode(Model.totalLocalAmount.ToString())</td>
        </tr>
    </table>
</div>
</div>
<div class="row col-sm-offset-5" style="margin-right:1px">
    <button type="button" id="approveCat2" class="btn btn-success">Approve</button>
    <button type="button" id="declineCat2" class="btn btn-danger">Reject</button>
    <button type="button" id="warningCat2" class="btn btn-warning">Pending</button>
    <a  href="/Invoices/Index?id=1" type="button" id="viewFiles" class="btn btn-info">ViewFiles</a>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Approval.js"></script>
